div #smiliesdiv {   
    position:absolute; 
	z-index:1000; 
	visibility:hidden; 
}

.smiliestable {
    background: buttonface;
    border: 1px solid;
    margin: 1;
}

#smiliesdiv img {
  cursor: pointer;
}

.properties textarea {
	width:80%;
	margin:0 10%;
}