/* common */
.markItUp * {
  margin:0px; padding:0px;
  outline:none;
}
.markItUp a:link,
.markItUp a:visited {
  color:#000;
  text-decoration:none;
}
.markItUp textarea {
  margin-top:0 !important;
  display:block;
}
.markItUpContainer  {
  font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
  font:12px 'Courier New', Courier, monospace;
  padding:5px;
  clear:both;
  overflow:auto;
}
.markItUpFooter {
  display:none;
}
.markItUpHeader {
  display:inline-block;
}

/* first row of buttons */
.markItUpHeader ul li  {
  list-style:none;
  float:left;
  position:relative;
}
.markItUpHeader ul li:hover > ul{
  display:block;
}
/* next rows of buttons */
.markItUpHeader ul ul {
  display:none;
  position:absolute;
  top:22px; left:0px;  
  background:#FFF;
  border:1px solid #444;
  border-radius:5px;
}
.markItUpHeader ul ul li {
  float:none;
  margin:0px;
}
/* links */
.markItUpHeader ul a {
  display:block;
  width:16px; height:16px;
  text-indent:-10000px;
  background-position:center center;
  background-repeat:no-repeat;
  padding:2px;
  border:1px solid transparent;
}
.markItUpHeader ul a:hover {
  border-color:#08e;
}
.markItUpHeader ul ul a {
  display:block;
  text-indent:0;
  border:0;
}

/* smiliessupport */
#smiliesdiv a {
  width:auto;  height:auto;
  border:0;
  padding:0;
}
#smiliesdiv img {
  border:1px solid transparent;
}
#smiliesdiv img:hover {
  border-color:#08e;
}